.headerTitle {
    text-align: center;
    font-size: 45px;
}

.headerSub {
    text-align: center;
    font-size: 25px;

}
.header {
    width: 100%;
    height: 450px;
}

.hero-body {
    background-image: url("../../bookReact.png");
}